
 @import url(https://fr.allfont.net/allfont.css?fonts=montserrat);
 @import url(https://fr.allfont.net/allfont.css?fonts=abril-fatface);

* {
    font-family: 'Montserrat';

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

/* Tête de page */

header.header {
    display: flex;
    align-items: center;
    background-color: burlywood;
}

header.header img {
    width: 150 px
}

section.top-page {
    background: url('../img/Chaussures2.jpg');
    background-size: cover;
    height: 80vh;
}

/* Page de bienvenue (landing page */

.landing-page {
    padding: 20px 50px;
}

.big-title {
    color: rgb(175, 116, 39);
    font-size: 60px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 2000;
}

.scroll-down {
    color: rgb(109, 68, 15);
    text-decoration: none;
    position: absolute;
    bottom: 160px;
}

/* Menu de navigation */

nav.nav {
    display: flex;
    list-style: none;
    width: 1000px;
    margin-left: 0px;
    
}


nav.nav li a {
    display: block ;
    color: white;
    text-decoration: none;
    line-height: 100px ;
}

.bouton {
    padding-left: 10px;
    padding-right: 10px;
    
}

.bouton:hover {
    background-color: #F8D862;

}

/* Services */

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.delivery-icon {
    font-size: 50px;
    color: #ADD981;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}


/* Meilleures ventes */

.section-title {
    font-size: 50px;
    font-family: 'Abril-FatFace', cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.bests-items {
    margin: 100px;
}

.best-sells {
    background-color: red;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.sells-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.pyjama {
    background-image: url(../img/pyjama.jpg);
}

.poussette {
    background-image: url(../img/poussette.jpg);
}

.produits {
    background-image: url(../img/produits.jpg);
}

.biberon {
    background-image: url(../img/biberon.jpg);
}

.details {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}

.name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.price {
    color:  #ADD981;
    line-height: 3px;
    font-size: 14px;
    font-weight: 800;
}


/* Nos produits */

.all-produits {
    margin:100px;
}

.produits-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat (4, 400px);
}

.produits-grid1 {
    background-image: url(../img/prod1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}

.produits-grid2 {
    background-image: url(../img/prod2.jpg);
    grid-column: 3/5;
}

.produits-grid3 {
    background-image: url(../img/prod3.jpg);
    grid-column: 3/5;
}

.produits-grid4 {
    background-image: url(../img/prod4.jpg);
    grid-column: 1;
    grid-row: 3/5;
}

.produits-grid5 {
    background-image: url(../img/prod5.jpg);
    grid-column: 2/4;
    grid-row: 3/5;
}

.produits-grid6 {
    background-image: url(../img/prod6.jpg);
    grid-column: 4;
    grid-row: 3/5;
}

/* Pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.cgv {
    text-decoration: none;
    color:black;
}